<html>
    <head>
        <title>Lenka's blog</title>
    </head>
    <body>
        <h1>Five little monkeys were jumping on the bed.</h1>
        <p>One fell down and bumped his head.</p>
        <em>Mother called the doctor and the doctor said:</em>
        <ul><li>No more jumping on the bed.</li></ul>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    
    {% endfor %}

    </body>
</html>